@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Roboto+Slab&family=Roboto:ital,wght@0,700;1,400&family=Ropa+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ropa Sans', sans-serif;
}

.container {
    width: 100vw;
    height: 1333px;
    background-color: #E5E5E5;
    padding-top: 60px;
}

.card {
    width: 697px;
    height: 1333px;
    background-color: #FFFFFF;
    margin: auto;
}

.card__header {
    width: 697px;
    height: 49px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.header__logo {
    float: left;
    width: 63px;
    height: 25px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 32px;
    color: #777777;
    margin-top: 8px;
    margin-left: 40px;
}

.header__subtitle {
    float: left;
    width: 38px;
    height: 22px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    color: #AAAAAA;
    margin-top:13px;
}

.header__icon-menu {
    float: right;
    width: 18px;
    height: 12px;
    margin-top: 18px;
    margin-right: 30px;
    cursor: pointer;
}

.card__section-foto {
    width: 608px;
    height: 259px;
    background-image: url(./Assets/Foto1.png);
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 20px;
}

.imagem__icon1 {
    float: left;
    width: 42px;
    height: 42px;
    background-image: url(./Assets/Ellipse\ 1.png);
    background-repeat: no-repeat;
    margin-top: 110px;
    margin-left: 12px;
}

.imagem__icon2 {
    float: right;
    width: 42px;
    height: 42px;
    background-image: url(./Assets/Ellipse\ 2.png);
    background-repeat: no-repeat;
    margin-top: 110px;
    margin-left: 12px;
}

.icon-lado1 {
    width: 10px;
    height: 18px;
    margin-top: 10px;
    margin-left: 12px;
    cursor: pointer;
}

.icon-lado2 {
    width: 10px;
    height: 18px;
    margin-top: 10px;
    margin-left: 15px;
    cursor: pointer;
}

.card__section__lado1 {
    float: left;
    width: 256px;
    height: 242px;
    background-color: #EEEEEE;
    margin: auto;
    margin-top: 37px;
    margin-left: 44px;
    cursor: pointer;
}

.img-lado1 {
    width: 256px;
    height: 144px;
}

.preco {
    float: left;
    width: 86px;
    height: 33px;
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    color: #888888;
    padding: 5px;
    padding-left: 10px;
}

.disponibilidade1 {
    float: right;
    width: 56px;
    height: 21px;
    background: #51D275;
    border-radius: 10.5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
    margin-right: 15px;
}

.descricao {
    clear: both;
    width: 231px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;
    text-align: justify;
    color: #555555;
    margin-left: 10px;
    margin-bottom: 20px;
}

.card__section__lado2 {
    float: right;
    width: 256px;
    height: 242px;
    background-color: #EEEEEE;
    margin: auto;
    margin-top: 37px;
    margin-right: 44px;
    cursor: pointer;
}

.img-lado2 {
    width: 256px;
    height: 144px;
}

.disponibilidade2 {
    float: right;
    width: 56px;
    height: 21px;
    background: #DC9730;
    border-radius: 10.5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 10px;
    margin-right: 15px;
}

.clear {
    clear: both;
}

.paragrafo {
    width: 266px;
    height: 33px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    color: #888888;
    margin: auto;
    padding-top: 45px;
}

.industrial {
    background-image: url(./Assets/larga2.png);
    width: 608px;
    height: 80px;
    margin-top: 13px;
    margin: auto;
    opacity: 0.7;
}

.modern {
    background-image: url(./Assets/Rectangle\ 12.png);
    width: 608px;
    height: 80px;
    margin-top: 13px;
    margin: auto;
    opacity: 0.7;
}

.classic {
    background-image: url(./Assets/larga3.png);
    width: 608px;
    height: 80px;
    margin-top: 13px;
    margin: auto;
    opacity: 0.7;
}

.imagem-larga {
    width: 608px;
    height: 80px;
    background-color: rgba(196, 196, 196, 0.5);
    margin: auto;
    
}

.titulo-largo {
    clear: both;
    width: 208px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 30px;
    padding-top: 24px;
}

.card__footer {
    width: 697px;
    height: 243px;
    background: #333333;
    margin-top: 75px;
}

.footer__imagem {
    float: left;
    background-image: url(./Assets/footer.png);
    width: 252px;
    height: 163px;
    border-radius: 19px;
    margin-top: 40px;
    margin-left: 48px;
}

.footer__description {
    float: right;
    width: 170px;
    height: 95px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: justify;
    color: #FFFFFF;
    margin-top: 49px;
    margin-right: 45px;
}

.icons {
    width: 98px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 13px;
    text-align: justify;
    color: #FFFFFF;
    margin-top: 10px;
}

.description2 {
    width: 98px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-align: justify;
    color: #FFFFFF;
}

